@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

.container{
	max-width: 1200px;
    width: 100%;
	margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    flex-basis: auto;
    align-content: flex-start;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875empx;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    flex-basis: 100%;
    align-content: flex-start;
    clear: both;
}

header h1 {
	float: left;
	margin: 0;
	/*padding: 38px 0; */
}
header h1 span {
	color: #77a466;
}

header nav {
	/* float: right; */
	/*padding: 46px 0;*/
    display: flex;
    flex-basis: 100%;
    align-content: center;
    justify-content: center;
}
header nav ul {
	margin: 0;
	padding: 0;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 25%;
    justify-content: center;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.125em;
	padding: .25em;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-basis: 100%;
    align-content: flex-start;
}

.top-section {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.main-image {
	height: auto;
	/* float: left; */
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;

}

.main-title {
	height: auto;
	/*float: left; */
    text-align: center;
    padding-left: .5em;
    padding-right: .5em;
}
.main-title h3 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.bottom-section {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 100%;
    justify-content: center;
    align-content: center;
    
}

.section-one,
.section-two,
.section-three {
	width: 95%;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
    text-align: center;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
    text-align: center;
}

.menu {
	list-style: none;
	padding: 0;
    text-align: center;
}
.menu li {
	padding: .5em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
    text-align: center;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-basis: 100%;
    align-content: flex-start;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.125em;
}

/*Tablet Styles*/

@media all and (min-width: 768px) {
    header {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 95%;
        margin-top: 1em;
    }
    
    header nav {
	/* float: right; */
	/*padding: 46px 0;*/
    display: flex;
    flex-basis: 100%;
    align-content: center;
    justify-content: center;
    padding-bottom: -2em;
    margin: 0;
}
    header nav ul {
	margin: 0;
	padding: 0;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    padding-bottom: 0;
    justify-content: center;
}
    header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.125em;
	padding: .25em;
	display: inline;
}

    
    .top-section {
        /*padding-left: .5em;
        padding-right: .5em;*/
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
        flex-basis: 100%;
    }
    
    .main-title {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        padding: 0 .5em;
    }
    
    .main-title p {
        margin-top: 0;
    }
    
    .bottom-section {
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
        align-items: flex-start;
        padding-left: .5em;
    }
    
    .section-one {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 33%;
        text-align: center;
        justify-content: center;
    }
    
    .section-two {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 33%;
        text-align: center;
        justify-content: center;
    }
    
    .section-three {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 33%;
        text-align: center;
        justify-content: center;
    }
    
    .section-one h4,
    .section-two h4,
    .section-three h4 {
        align-items: center;
    }
    
    
    
}

/*Desktop Styles*/

@media all and (min-width: 1200px) {
    header nav ul {
    display: flex;
    justify-content: space-between;
        
  }
    
    body {
        width: 100%;
    }
    
    header {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-basis: 100%;
    }
    
    
    .bottom-section {
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
        align-items: flex-start;
        padding-left: .5em;
    }
    
    .section-one {
        display: flex;
        flex-flow: column wrap;
        flex-basis: 33%;
        text-align: center;
        justify-content: center;
    }
    
    .section-two {
        display: flex;
        flex-flow: column wrap;
        flex-basis: 33%;
        text-align: center;
        justify-content: center;
    }
    
    .section-three {
        display: flex;
        flex-flow: column;
        flex-basis: 33%;
        text-align: center;
        justify-content: center;
    }
    
    .section-one h4,
    .section-two h4,
    .section-three h4 {
        align-items: center;
    }
    
}
